.container {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  overflow: hidden;

  .labels {
    align-items: flex-start;
    width: 100%;
    border-collapse: collapse;
    margin-left: 1.5rem;

    th {
      line-height: 2rem;
      text-align: left;
      font-weight: normal;

      &:first-child {
        width: 242px;
      }
    }
  }

  .chartProducts {
    flex: 1;
    background-color: var(--background);
    color: var(--brown-300);
    overflow-y: auto;
  }

  .footer {
    margin-top: 1rem;
    text-align: center;
    justify-self: flex-end;

    >table {
      width: 100%;
      border-collapse: collapse;

      th {
        line-height: 2rem;
        text-align: left;
        font-weight: normal;
        padding: 0 1.5rem;


        &:first-child {
          width: 242px;
        }

        &:last-child {
          text-align: end;
        }
      }
    }

    a {
      line-height: 1rem;
      height: 50px;
      margin: 1rem 1.5rem 2rem;
      border-radius: 8px;
      background-color: var(--yellowish);
      color: var(--brown-300);
      font-weight: bold;

      display: flex;
      justify-content: center;
      align-items: center;
      transition: background 100ms;

      &:hover {
        background-color: var(--brown-300);
        color: var(--yellowish);
        outline: 2px solid var(--yellowish);
        box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.25);
      }
    }
  }
}